<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RightClickVolume.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RightClickVolume.Properties.Settings>
            <setting name="LaunchOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Hotkey_Alt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Hotkey_Ctrl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Hotkey_Shift" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Hotkey_Win" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsFirstRunEver" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPeakVolumeBar" serializeAs="String">
                <value>True</value>
            </setting>
        </RightClickVolume.Properties.Settings>
    </userSettings>
</configuration>